li {
    display: inline;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    list-style-type: none;
   
    border: 2px double black;
}

li:hover {
    display: block;
    margin: 5px;
    padding: 10px 20px 10px 20px;

    list-style-type: "\F44D";
    border: 2px double black;
}
