.expenses {
    background-color: #f0f;
}

.income {
    background-color: #0ff;
}
.profit {
    background-color: #f00;
}

.oldPrice {
    text-decoration: line-through;
    color:black;
}

.newPrice {
    color: red;
}